
body {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid white;
}